<div class="row">
    <div class="col-md-3">
        <mat-card>
            <mat-card-title class="b">
                 la carta del dia
            </mat-card-title>
            <img class="a" mat-card-image src={{cartaportada.img}} alt={{cartaportada.nombre}}>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="b">
            <mat-card-title class="b">
                datos de la carta del dia:
            </mat-card-title>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis accusantium, nisi at illo blanditiis magni voluptatibus? Quas quia, at saepe ea, laborum debitis, natus consectetur nostrum beatae nulla incidunt autem?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et assumenda fugit perspiciatis perferendis, maxime eum molestiae alias dicta minima. Nisi ullam unde aspernatur qui itaque iure doloribus harum vel esse!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius quia ad expedita numquam similique perspiciatis maiores adipisci vel accusantium atque. Dolorem perferendis excepturi nobis maiores placeat omnis quis esse quidem.
        </mat-card>
    </div>
</div>